# Cache
__pycache__
.ipynb_checkpoints
wandb/
*.swp
.mypy_cache
artifacts/
log/

# Tmp
*.tmp

# Script (Interface)
tools/quick*

# Dev
notebooks/
*.ipynb
!FE.ipynb

# Legacy code
legacy/

# Local cfg

# Data
data/raw*/
data/processed/*

# Local output buffer
output/

# Reference
refs/

# Submission
submission.csv
submissions/
